@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');


body{
    font-family:Bangers,cursive;
color: aqua;
    text-align: center;
    background-color: black;
    font-size: large;

    /* Configuration du grand arrière-plan */
    background-image: url('caca.png');
    background-position: center;
    background-repeat: no-repeat; /* Empêche l'image de se répéter en petit */
    background-attachment: fixed; /* L'image reste fixe quand on scroll */
    background-size: 20 rem;       
}
